#project-list {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 200px;
  height: calc(100vh - 32px);
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 9999;
  overflow-y: auto;
  // box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  // 处理滚动条
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .project-item {
    position: relative;
    cursor: pointer;
    min-height: 38px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    transition: background-color 0.2s;

    .project-link {
      color: #333;
      text-decoration: none;
      display: block;
      font-size: 14px;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // width: 160px; // 留出一些边距空间
    }

    .project-item-info {
      display: none;
      color: #fff;
      position: absolute;
      top: -100%;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      padding: 8px;
      font-size: 12px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 8px;
    }
  }
  .project-item-active {
    position: relative;
    background: linear-gradient(270deg, #fff, hsl(var(--primary) / 17%));
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 3px;
      background-color: blue;
    }

    .project-link {
      color: blue;
      font-weight: bold;
    }
  }
  .project-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    .project-link {
      color: blue;
    }
    .project-item-info {
      // display: block;
    }
  }
}
