body {
  #wrapper {
    padding: 0;
    #top-menu,
    #header {
      display: none;
    }
    #main {
      #content {
        background-color: transparent;
        background-size: cover; /* 或者其他你需要的属性 */
        background-position: center;
        background-repeat: no-repeat;
        #login-form {
          display: none;
          position: fixed;
          top: 50%;
          right: 20%;
          transform: translate(0, -50%);
          margin: 0;
          font-size: 16px;

          width: 400px;
          height: 375px;
          border: none;
          background-color: white;
          opacity: 0;
          animation: fadeIn 0.5s ease-in-out forwards;

          form {
            font-size: 16px;
            width: 80%;
            a {
              font-size: 14px;
              color: #909399;
            }
            input {
              height: 38px;
              border: none;
              background-color: #f2f3f5;
            }
          }

          #login-submit {
            color: #fff;
            margin-bottom: 10px;
            border-radius: 0;
            background-color: #409eff;
          }
        }
      }
    }
    #footer {
      background-color: transparent;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
  }
}
