body {
  #top-menu {
    font-size: 14px;
    padding: 12px;
    height: fit-content;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
    margin-bottom: 12px;
    a {
      font-weight: normal;
      color: #000;
    }
  }
  #header {
    background-color: #fff;
  }
}
