* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#preview {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  .header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }

  .content {
    width: 100%;
    height: calc(100% - 60px);
    overflow: scroll;
  }
}
